<div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
    <%= form.label :typecomp %>
    <%= form.select :typecomp, @typecomps, class: "form-control"  %>
</div>

<div class="form-group">
    <%= form.label :images %>
    <%= form.file_field :images, multiple: true, class: "form-control"  %>
</div>
