<div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :typecomp %>
    <%= f.select :typecomp, @typecomps, class: "form-control"  %>
</div>

<div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true, class: "form-control"  %>
</div>
