<%= form_with(model: @game, local: true) do |form| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.fields_for :box do |ff| %>
      <%= render 'box_fields', f: ff %>
    <% end %>
  </div>

  <div class="field">
    <%= link_to_add_association 'Add box', form, :box, force_non_association_create: true %>
  </div>

  <div class="field">
    <%= form.fields_for :rule do |ff| %>
      <%= render 'rule_fields', f: ff %>
    <% end %>
  </div>

  <div class="field">
    <%= link_to_add_association 'Add rule', form, :rule, force_non_association_create: true %>
  </div>

  <div class="field">
    <%= form.fields_for :components do |ff| %>
      <%= render 'component_fields', f: ff %>
    <% end %>
  </div>

  <div class="field">
    <%= link_to_add_association 'Add component', form, :components %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
