<div class="container">

  <p id="notice"><%= notice %></p>

  <h1>Games</h1>

  <%= render 'form'%>

  <%= render 'boxes/form'%>
  <%= render 'rules/form'%>
  <%= render 'components/form'%>


  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Rule</th>
        <th>Component</th>
        <th>Box</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><%= game.title %></td>
          <td><%= game.description%></td>
          <td><%= game.rule.id  %></td>
          <td><%= game.component.id %></td>
          <td><%= game.box.id %></td>
          <td><%= link_to 'Show', game %></td>
          <td><%= link_to 'Edit', edit_game_path(game) %></td>
          <td><%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Game', new_game_path %>

</div>