<div id="main">

  <div class="container">

    <p id="notice"><%= notice %></p>

    <div class="container pt-5">
      <h1>Register a new game</h1>
      <%= link_to 'Add', new_game_path, class: "btn btn-light" %> 
    </div>

    <div class="container text-right pb-5">
      <h3>More details</h3>
      <%= link_to 'Boxes', boxes_path %> 
      <%= link_to 'Rules', rules_path %> 
      <%= link_to 'Part & Pieces', components_path %> 
    </div>

    <% @games.each do |game| %>
      <div class="card">
        <h1 class="card-header"><%= game.title %></h1>
        <div class="card-body">
          <div class="container text-right">
            <!-- <%# link_to game do %><i class="far fa-eye fa-2x"></i><%# end %> -->
            <%= link_to edit_game_path(game) do %><i class="far fa-edit fa-2x"></i><% end %>
            <%= link_to game, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="far fa-trash-alt fa-2x"></i><% end %></td>  
          </div>
          <h2 class="card-title">Description</h2>
            <p class="card-text"><%= game.description%></p>
            <div class="container">

              <div class="container py-3">
              <h2>Box content</h2>
                <div class="row">
                  <div class="col text-center">
                    <%= image_tag game.box.image.variant(resize: "100x100", colorspace: "gray") %>
                  </div>
                  <div class="col">
                    <p><%= game.box.content %> </p>
                    <%= link_to rails_blob_path(game.box.image, disposition: "attachment") do %><i class="fas fa-download fa-2x"></i><% end %> <p>Box</p>
                  </div>
                </div>
              
                <div class="container py-3">
                  <h2 class="py-2">The Rules of <%="#{game.title}"%></h2>
                  <p>Name of the manual: <%= game.rule.name %></p>
                  <h4>About the Rules</h4>
                    <p><%= game.rule.content %></p>
                  <h4>How to play?</h4>
                    <%# link_to 'See', rails_blob_path(game.rule.document, disposition: "preview") %>
                    <%= link_to "Manual #{game.title}", rails_blob_path(game.rule.document, disposition: "attachment") %>
                </div>
                
                <div class="container py-3">
                  <h2 class="pb-3">Part & Pieces of <%="#{game.title}"%></h2>
                  <% game.components.each do |component| %>
                  <div class="container">
                    <div class="row">
                      <div class="col">
                        <h4>Type <%= component.typecomp %>: <%= component.name %></h4>
                      </div>
                      <div class="col">
                        <% component.images.each do |c| %>
                          <ul>
                            <li>
                              <%# image_tag c.variant(resize: "100x100", colorspace: "gray") %>
                              <%= link_to rails_blob_path(c, disposition: "preview") do %><i class="far fa-eye fa-2x"></i><% end %>
                            </li>
                          </ul>
                        <% end %>
                        </div>
                      <div class="col">
                      <% component.images.each do |c| %>
                        <ul>
                          <li>
                            <%= link_to rails_blob_path(c, disposition: "attachment") do %><i class="fas fa-download fa-2x"></i><% end %> <%= "#{component.name}" %>
                          </li>
                        </ul>
                      <% end %>
                      </div>

                    </div>
                  </div>
                  <% end %>
                </div>
              
            </div>
        </div>
      </div>
      <div class="card-footer text-muted text-center"><%= game.created_at.strftime("%Y-%m-%d") %> (<%= time_ago_in_words(game.created_at) %>)</div>
    <% end %>

  </div>           

</div>